/*
  Alert-JS Created by Tekin on 26.01.2016.
 */

//OTHER-COLORS
$blue: #006edd;
$blueLL: lighten($blue,10%);
$blueL: lighten($blue,5%);
$blueD: darken($blue,5%);
$blueDD: darken($blue,10%);

$red: #f01e10;
$redLL: lighten($red,10%);
$redL: lighten($red,5%);
$redD: darken($red,5%);
$redDD: darken($red,10%);

$orange: #ff560b;
$orangeLL: lighten($orange,10%);
$orangeL: lighten($orange,5%);
$orangeD: darken($orange,5%);
$orangeDD: darken($orange,10%);

$yellow: #ffba00;
$yellowLL: lighten($yellow,10%);
$yellowL: lighten($yellow,5%);
$yellowD: darken($yellow,5%);
$yellowDD: darken($yellow,10%);

$green: #1baf21;
$greenLL: lighten($green,10%);
$greenL: lighten($green,5%);
$greenD: darken($green,5%);
$greenDD: darken($green,10%);

//ALERTJS STYLE

div[id*="alertJS"] {
  display: none;

  // maskAlertFull Function Css
  &.alertJS-mask {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.80);

    & > .close,
    & > .notClose {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      z-index: 5;

    }

    .alertJS-content {
      position: absolute;
      z-index: 99;
      box-sizing: content-box;
      width: fit-content;
      max-width: 70%;
      min-width: 200px;
      background: #fff;
      margin: auto;
      left: 0;
      right: 0;
      top: 50%;
      padding: 40px;

      i.close {
        position: absolute;
        width: 40px;
        line-height: 40px;
        font-size: 22px;
        text-align: center;
        color: rgba(0, 0, 0, 0.6);
        background-color: rgba(0, 0, 0, 0.1);
        border: solid 1px rgba(0, 0, 0, 0.1);
        right: 0;
        top: 0;
        cursor: pointer;
      }

      .alertJS-message {
        line-height: 26px;
        font-size: 16px;
        max-width: 728px;
        font-weight: 300;

        i.fa {
          font-size: 24px;
          margin-right: 10px;
          display: inline-block;
          vertical-align: middle;
        }
      }

      &.info {
        background-color: $blue;
        color: #fff;
      }

      &.error {
        background-color: $red;
        color: #fff;
      }

      &.success {
        background-color: $green;
        color: #fff;
      }

      &.alert {
        background-color: $yellow;
        color: #fff;
      }

    }
  }

  &.alertJS-mini {
    position: fixed;
    z-index: 9999;
    right: 30px;
    bottom: 30px;

    @media (max-width: 768px) {
      & {
        right: 0;
        left: 0;
        bottom: 0;
      }
    }

    i.close {
      position: absolute;
      width: 30px;
      line-height: 30px;
      font-size: 18px;
      text-align: center;
      color: rgba(0, 0, 0, 0.6);
      background-color: rgba(0, 0, 0, 0.1);
      border: solid 1px rgba(0, 0, 0, 0.1);
      right: 0;
      top: 0;
      cursor: pointer;
    }

    .alertJS-content {
      padding: 30px;
      min-width: 200px;
      max-width: 728px;

      .alertJS-message {
        line-height: 26px;
        font-size: 16px;
        font-weight: 300;

        i.fa {
          font-size: 24px;
          margin-right: 10px;
          display: inline-block;
          vertical-align: middle;
        }
      }

      &.info {
        background-color: $blueL;
        color: #fff;
      }

      &.error {
        background-color: $redL;
        color: #fff;
      }

      &.success {
        background-color: $greenL;
        color: #fff;
      }

      &.alert {
        background-color: $yellowL;
        color: #fff;
      }

    }
  }

}